*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: #F2C4B8;
}
.container{
    position: relative;
    width: 400px;
    height: 105px;
    background: white;
    padding: 28px 32px;
    border-radius: 18px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
}
.searchbox{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.searchbox input{
    color:#1B227D;
    font-weight:500;
    width: 80%;
    text-transform: uppercase;
    padding-left: 32px;
}
.searchbox input::placeholder{
    font-size: 16px;
    font-weight: 500;
    color: #1B227D;
    text-transform: capitalize;
}

.searchbox button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #1B227D;
    background-color:#edd6d1 ;
    border-radius: 50%;
    transition: 0.6s ease;
}
.searchbox button:hover{
    color: #1B227D;

    background-color:#F2C4B8 ;
}

.searchbox i{
    position: absolute;
    font-size: 22px;
    color: #1B227D;

}
.weather-box{
    text-align: center;
}
.weather-box img{
    width: 60%;
    margin-top: 30px;
}
.weather-box .temperature{
    position: relative;
    color: #1B227D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    

}
.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem; 

}
.weather-box .description{
    color: #1B227D;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;


}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;   
}
.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;

}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-left: 20px;
    justify-content: flex-end;
}
.weather-details i{
    color: #1B227D;
    font: 26px;
    margin-right: 10px;
    margin-top: 6px;

}

.weather-details span{
    color: #1B227D;
    font-size: 22px;
    font-weight: 500;
}
.weather-details p{
    color: #1B227D;
    font-size: 14px;
    font-weight: 500;
}
.notfound{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale:0;
    opacity: 0;
    display: none;
}
.notfound img{
    width: 70%;
}
.notfound p{
    color: #1B227D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}
.weather-box .weather-details{
    scale: 0;
    opacity: 0;
}
.fadeIn{
    animation: 0.5s fadeIn forwards ;
    animation-delay: 0.s;
}
@keyframes fadeIn{
    to{
        scale: 1;
        opacity: 1;
    }
}